<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/styles/styles.css">


    </head>

    <body>
        <div class="main-content">
        {{>header}}
       <p>{{ErrorMessage}}</p>
        </div>


        {{>footer}}
    </body>
</html>