<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This was site was created by Rishi Magavi. It uses data from MapBox and WeatherStack API's. </p>
        <img class ="portrait" src="/img/Family.jpg">
        </div>
        
        

        {{>footer}}
    </body>
</html>