<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/styles/styles.css">
 

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p> Use this site to fetch weather! </p>

            <form>
                <input placeholder="Location">
                <button type="submit">Search</button>
                
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
       </div>

        {{>footer}}

        <script src = "/js/client.js"></script>
    </body>
</html>